/CHANGES.md
/.git/
/.vscode/
/.eslintrc
/.eslintignore
/.npmrc
/.npmignore
/.gitignore
/tsconfig.json
/tslint.json
/examples/
/commitlint.config.js
/.husky/
/test/
/src/test/
/src/examples/
/data/
/temp/
/*.sh
/html/
