/CHANGES.md
/.git/
/.vscode/
/.eslintrc
/.eslintignore
/.npmrc
/.npmignore
/.gitignore
/tsconfig.json
/tslint.json
/examples/
/.husky/
/tests/
/src/tests/
/src/examples/
/data/
/temp/
/*.sh
/html/
/utils/
/*.config.js
/docs/
